* {
	font-family: sans-serif;
    box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

a,
a:hover,
a:active,
a:visited {
	color: hsl(210, 65%, 65%);
}

h1 {
	margin: 1.25rem 0 0.75rem;
	font-size: 1.5rem;
}

h2 {
	margin: 1.25rem 0 0.75rem;
	font-size: 1.25rem;
}

h3 {
	margin: 0.25rem 0 0.75rem;
	font-size: 1rem;
}

hr {
	border: none;
	border-top: 1px solid #888;
}

.section-anchor {
    position: relative;
    top: calc(-2.75rem - 20px);
}

#statistics table {
	font-size: 0.7rem;
	margin-top: 1rem;
	width: 100%;
}

#statistics table tr th {
	font-weight: bold;
	text-align: left;
	text-decoration: underline;
	padding: 0.3rem 0;
}

#statistics table tr td {
	vertical-align: baseline;
	padding: 0.1rem 0.1rem;
}

#wrapper {
	display: grid;
	gap: 10px;
	grid-template-columns: 2fr 8fr;
	grid-template-areas:
	    "navigation content"
        "statistics content";
	padding: 10px;
}

#mobile_navigation {
	display: none;
}

#payloads_pane {
	grid-area: navigation;
	background-color: hsl(230, 0%, 90%);
	overflow: auto;
	padding: 10px;
}

#statistics_pane {
	grid-area: statistics;
	background-color: hsl(230, 0%, 90%);
	overflow: auto;
	padding: 10px;
}

#usb_hid_connection {
    display: none;
	color: red;
    font-size: 0.7rem;
    font-weight: bold;
}

#content {
	grid-area: content;
	background-color: hsl(230, 0%, 90%);
	padding: 10px;
}

#content form {
	margin-bottom: 1.5rem;
}

#statistics {
	font-size: 0.8rem;
}

@media (max-width: 1000px) {
	#mobile_navigation {
		display: block;
		position: fixed;
		width: 100%;
		top: 0;
		line-height: 2.75rem;
		background-color: hsl(230, 0%, 30%);
		color: #fff;
		z-index: 999;
	}

	#mobile_navigation ul {
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	#mobile_navigation li {
		display: block;
		text-align: center;
	}

	#mobile_navigation a {
		font-weight: bold;
		text-decoration: none;
	}

	#wrapper {
        position: relative;
        top: 2.75rem;
        grid-template-columns: none;
		grid-template-rows: 200px;
		grid-template-areas:
			"navigation"
			"content"
			"statistics";
	}
}

#payloadList {
	list-style: none;
	padding-left: 0.35rem;
}

#payloadList li {
	display: block;
	font-size: 0.8rem;
	padding: 0.25rem;
}

#payloadCode,
#payloadResult {
	border: 1px solid #888;
	width: 100%;
	padding: 0.5rem;
	height: 20rem;
	overflow: auto;
	font-family: monospace;
	font-size: 0.85rem;
	line-height: 1.5rem;
}

.notification {
	display: none;
	color: #fff;
	font-size: 0.7rem;
	margin: 1rem 0;
	padding: 0.45rem;
}

.background_green {
	display: block;
	background-color: hsl(150, 75%, 45%);
}

.background_gray {
	display: block;
	background-color: hsl(0, 0%, 75%);
}

.background_red {
	display: block;
	background-color: hsl(0, 75%, 45%);
}

.green {
	color: hsl(150, 75%, 45%);
}

.red {
	color: hsl(0, 75%, 45%);
}

.align_right {
	text-align: right;
}
